
*.cs
.vs/CleanArch/FileContentIndex/334c9a7e-cce5-4e52-8443-f8b3e67424a1.vsidx
.vs/CleanArch/v17/TestStore/0/000.testlog
.vs/CleanArch/v17/TestStore/0/testlog.manifest
.vs/ProjectEvaluation/cleanarch.projects.v7.bin
.vs/ProjectEvaluation/cleanarch.metadata.v7.bin
.vs/CleanArch/v17/DocumentLayout.json
.vs/CleanArch/v17/.suo
